Header set Access-Control-Allow-Origin "*"

Options +FollowSymlinks
RewriteEngine on

RewriteRule ^accueil$  indexMVC_New.php?module=1&action=1 [L]
RewriteRule ^connexion$  index.php [L]
RewriteRule ^connexion-([0-9]+)$  index.php?code=$1 [L]
RewriteRule ^logout$  index.php?action=logout [L]

RewriteRule ^listeFacture-([A-z]+)$  indexMVC_New.php?module=2&action=1&type=$1 [L]

RewriteRule ^Document-Facture([A-z]+)$  indexMVC_New.php?module=2&action=3&type=$1 [L]
RewriteRule ^Document-Mvt([A-z]+)$  indexMVC_New.php?module=4&action=7&type=$1 [L]

RewriteRule ^Document-Facture([A-z]+)-([0-9]+)$  indexMVC_New.php?module=2&action=3&type=$1&cbMarq=$2 [L]
RewriteRule ^Document-Mvt([A-z]+)-([0-9]+)$  indexMVC_New.php?module=4&action=7&type=$1&cbMarq=$2 [L]

RewriteRule ^listeArticle-([0-z]+)$  indexMVC_New.php?module=3&action=3&statut=$1 [L]
RewriteRule ^listeArticle-([0-z]+)-([0-z]+)$  indexMVC_New.php?module=3&action=3&statut=$1&AR_Ref=$2 [L]
RewriteRule ^listeArticle-([0-z]+)-([0-z]+)-([0-z]+)$  indexMVC_New.php?module=3&action=3&statut=$1&acte=$2&AR_Ref=$3 [L]
RewriteRule ^listeArticle-([0-z]+)-(-?[0-9]+)-(-?[0-9]+)-(-?[0-9]+)$  indexMVC_New.php?module=3&action=3&statut=$1&sommeil=$2&stockFlag=$3&prixFlag=$4 [L]

RewriteRule ^listeFamille-([0-z]+)$  indexMVC_New.php?module=3&action=6&statut=$1 [L]
RewriteRule ^listeFamille-([0-z]+)-([0-z]+)$  indexMVC_New.php?module=3&action=6&statut=$1&FA_CodeFamille=$2 [L]
RewriteRule ^supprFamille-([0-z]+)$  Traitement/Creation.php?acte=suppr_famille&FA_CodeFamille=$1 [L]

RewriteRule ^ficheFamille$ indexMVC_New.php?module=3&action=7 [L]
RewriteRule ^ficheFamille-([0-z]+)$ indexMVC_New.php?module=3&action=7&FA_CodeFamille=$1 [L]

RewriteRule ^ficheArticle$  indexMVC_New.php?module=3&action=1 [L]
RewriteRule ^ficheArticle-([0-z]+)$  indexMVC_New.php?module=3&action=1&AR_Ref=$1 [L]
RewriteRule ^ficheArticle-([0-z]+)-([0-z]+)$  indexMVC_New.php?module=3&action=1&AR_Ref=$1&window=$2 [L]

RewriteRule ^listeTiers-([0-z]+)-([0-z]+)$  indexMVC_New.php?module=3&action=4&statut=$1&type=$2 [L]
RewriteRule ^listeTiers-([0-z]+)-([0-z]+)-([0-z]+)$  indexMVC_New.php?module=3&action=4&statut=$1&type=$2&CT_Num=$3 [L]
RewriteRule ^listeTiers-([0-z]+)-([0-z]+)-([0-z]+)-([0-z]+)$  indexMVC_New.php?module=3&action=4&statut=$1&type=$2&CT_Sommeil=$3&CT_Num=$4 [L]

RewriteRule ^FicheTiers-([0-z]+)$  indexMVC_New.php?module=3&action=2&type=$1 [L]
RewriteRule ^FicheTiers-([0-z]+)-([0-z]+)$  indexMVC_New.php?module=3&action=2&type=$1&CT_Num=$2 [L]

RewriteRule ^mvtCaisse$  indexMVC_New.php?module=6&action=1 [L]

RewriteRule ^Reglement-([0-z]+)$  indexMVC_New.php?module=1&action=2&typeRegl=$1 [L]

RewriteRule ^Reglement-([0-z]+)-([0-z]+)-([0-z]+)-([0-z]+)-([0-z]+)-([0-z]+)-([0-z]+)-([0-z]+)-([0-z]+)$  indexMVC_New.php?module=1&action=2&typeRegl=$1&caissier=$2&client=$3&dateReglementEntete_deb=$4&dateReglementEntete_fin=$5&mode_reglement=$6&journal=$7&caisse=$8&type=$9 [L]

RewriteRule ^listeDepot$  indexMVC_New.php?module=3&action=10 [L]
RewriteRule ^listeDepot-([0-z]+)$  indexMVC_New.php?module=3&action=10&DE_No=$1 [L]
RewriteRule ^listeDepot-([0-z]+)-([0-z]+)$  indexMVC_New.php?module=3&action=10&statut=$1&DE_No=$2 [L]
RewriteRule ^supprDepot-([0-z]+)$  Traitement/Creation.php?acte=supprDepot&DE_No=$1 [L]

RewriteRule ^ficheDepot$  indexMVC_New.php?module=3&action=11 [L]
RewriteRule ^ficheDepot-([0-z]+)$  indexMVC_New.php?module=3&action=11&DE_No=$1 [L]

RewriteRule ^listeCollaborateur-([0-z]+)$  indexMVC_New.php?module=3&action=12&statut=$1 [L]
RewriteRule ^listeCollaborateur-([0-z]+)-([0-z]+)$  indexMVC_New.php?module=3&action=12&statut=$1&CO_No=$2 [L]

RewriteRule ^listeCaisse$  indexMVC_New.php?module=3&action=14 [L]
RewriteRule ^listeCaisse-([0-z]+)$  indexMVC_New.php?module=3&action=14&CA_No=$1 [L]
RewriteRule ^listeCaisse-([0-z]+)-([0-z]+)$  indexMVC_New.php?module=3&action=14&statut=$1&CA_No=$2 [L]
RewriteRule ^supprCaisse-([0-z]+)$ Traitement/Creation.php?acte=suppr_caisse&CA_No=$1 [L]

RewriteRule ^ficheCaisse$  indexMVC_New.php?module=3&action=15 [L]
RewriteRule ^ficheCaisse-([0-z]+)$  indexMVC_New.php?module=3&action=15&CA_No=$1 [L]

RewriteRule ^ficheCollaborateur$  indexMVC_New.php?module=3&action=13 [L]
RewriteRule ^ficheCollaborateur-([0-z]+)$  indexMVC_New.php?module=3&action=13&CO_No=$1 [L]

RewriteRule ^impressionFacture-([0-z]+)-([0-z]+)-([0-z]+)-([0-z]+)$ export/exportSSRS.php?cbMarq=$1&format=$2&societe=$3&type=$4 [L]
RewriteRule ^impressionFacture-([0-z]+)-([0-z]+)-([0-z]+)-([0-z]+)-([0-z]+)$ export/exportSSRS.php?cbMarq=$1&format=$2&societe=$3&type=$4&facture=$5 [L]
RewriteRule ^impressionFactureCMI-([0-z]+)-([0-z]+)-([0-z]+)$ export/CMI/exportFacture.php?cbMarq=$1&type=$2&format=$4 [L]

RewriteRule ^impressionMouvement-Transfert-([0-z]+)-([0-z]+)-([0-z]+)$ etatspdf/MvtTransfertpdf.php?cbMarq=$1&type=$2&format=$3 [L]
RewriteRule ^impressionMouvement-Transfert_detail-([0-z]+)-([0-z]+)-([0-z]+)$ etatspdf/MvtTransfertpdf.php?cbMarq=$1&type=$2&format=$3 [L]
RewriteRule ^impressionMouvement-Entree-([0-z]+)-([0-z]+)-([0-z]+)$ etatspdf/MvtEntreepdf.php?cbMarq=$1&type=$2&format=$3 [L]
RewriteRule ^impressionMouvement-Sortie-([0-z]+)-([0-z]+)-([0-z]+)$ etatspdf/MvtSortiepdf.php?cbMarq=$1&type=$2&format=$3 [L]

RewriteRule ^clotureDeCaisse$ indexMVC_New.php?module=9&action=18 [L]

RewriteRule ^majAnalytique$ indexMVC_New.php?module=9&action=17 [L]
RewriteRule ^majComptable$ indexMVC_New.php?module=9&action=16 [L]
RewriteRule ^InterrogationTiers$ indexMVC_New.php?module=9&action=19&type=Tiers [L]
RewriteRule ^InterrogationLettrage$ indexMVC_New.php?module=9&action=19&type=Lettrage [L]

RewriteRule ^etatMvtStock$ indexMVC_New.php?module=5&action=1 [L]
RewriteRule ^etatEqStock$ indexMVC_New.php?module=5&action=3 [L]
RewriteRule ^etatStatArticle$ indexMVC_New.php?module=5&action=4 [L]
RewriteRule ^etatStatArticleFournisseur$ indexMVC_New.php?module=5&action=20 [L]

RewriteRule ^etatGrandLivreTiersCommercial$ indexMVC_New.php?module=5&action=32 [L]
RewriteRule ^etatBalanceAnalytique$ indexMVC_New.php?module=5&action=35 [L]
RewriteRule ^etatBalanceDesComptes$ indexMVC_New.php?module=5&action=36 [L]
RewriteRule ^etatGrandLivreAnalytique$ indexMVC_New.php?module=5&action=37 [L]
RewriteRule ^etatJournal indexMVC_New.php?module=5&action=38 [L]



RewriteRule ^etatStatClient$ indexMVC_New.php?module=5&action=5 [L]
RewriteRule ^etatStatClientArticle$ indexMVC_New.php?module=5&action=39 [L]
RewriteRule ^etatEcheanceClient$ indexMVC_New.php?module=5&action=6&typeTiers=0 [L]
RewriteRule ^etatEcheanceClientAgee$ indexMVC_New.php?module=5&action=30&typeTiers=0 [L]
RewriteRule ^etatEcheanceClient2$ indexMVC_New.php?module=5&action=26&typeTiers=0 [L]
RewriteRule ^etatEcheanceFournisseur$ indexMVC_New.php?module=5&action=6&typeTiers=1 [L]
RewriteRule ^etatRgltClient$ indexMVC_New.php?module=5&action=7 [L]
RewriteRule ^etatReleveCompteClient$ indexMVC_New.php?module=5&action=8 [L]
RewriteRule ^etatDeCaisse$ indexMVC_New.php?module=5&action=9 [L]
RewriteRule ^etatLivreInventaire$ indexMVC_New.php?module=5&action=12 [L]
RewriteRule ^etatStatCollaborateurParArticle$ indexMVC_New.php?module=5&action=13 [L]
RewriteRule ^etatStatCollaborateurParClient$ indexMVC_New.php?module=5&action=11 [L]

RewriteRule ^etatStatAchat$ indexMVC_New.php?module=5&action=19 [L]
RewriteRule ^etatStatAchatAnalytique$ indexMVC_New.php?module=5&action=18 [L]


RewriteRule ^etatEcheance$ indexMVC_New.php?module=5&action=13 [L]
RewriteRule ^etatDesDettes$ indexMVC_New.php?module=5&action=10 [L]
RewriteRule ^etatVrstDistant$ indexMVC_New.php?module=5&action=14 [L]
RewriteRule ^etatVrstBancaire$ indexMVC_New.php?module=5&action=15 [L]
RewriteRule ^etatCtrlReportFondDeCaisse$ indexMVC_New.php?module=5&action=16 [L]
RewriteRule ^etatBalanceDesTiers$ indexMVC_New.php?module=5&action=21 [L]
RewriteRule ^etatReaprovisionnement$ indexMVC_New.php?module=5&action=23 [L]
RewriteRule ^etatExploitation$ indexMVC_New.php?module=5&action=24 [L]
RewriteRule ^etatTrsftDeCaisse$ indexMVC_New.php?module=5&action=25 [L]
RewriteRule ^etatStockGrandDepot$ indexMVC_New.php?module=5&action=27 [L]
RewriteRule ^etatCompteResultat$ indexMVC_New.php?module=5&action=28 [L]
RewriteRule ^etatFichierCentralRap$ indexMVC_New.php?module=5&action=29 [L]
RewriteRule ^etatEcritureComptable$ indexMVC_New.php?module=5&action=31 [L]
RewriteRule ^etatGrandLivreTiersCommercial$ indexMVC_New.php?module=5&action=32 [L]

RewriteRule ^utilisateur$ indexMVC_New.php?module=8&action=1 [L]
RewriteRule ^nouvelUtilisateur$ indexMVC_New.php?module=8&action=4 [L]
RewriteRule ^nouvelUtilisateur-([0-z]+)$ indexMVC_New.php?module=8&action=4&PROT_No=$1 [L]

RewriteRule ^listeProfil$ indexMVC_New.php?module=8&action=2 [L]
RewriteRule ^listeProfil-([0-z]+)-([0-z]+)$ indexMVC_New.php?module=8&action=2&statut=$1&PROT_No=$2 [L]
RewriteRule ^nouveauProfil$ indexMVC_New.php?module=8&action=3 [L]
RewriteRule ^nouveauProfil-([0-z]+)$ indexMVC_New.php?module=8&action=3&PROT_No=$1 [L]

RewriteRule ^fusionArticle$ indexMVC_New.php?module=8&action=13 [L]
RewriteRule ^fusionClient$ indexMVC_New.php?module=8&action=14 [L]
RewriteRule ^calendrierConnexion$ indexMVC_New.php?module=8&action=15 [L]
RewriteRule ^createReport$ indexMVC_New.php?module=1&action=7 [L]



