.navbar.navbar-expand-lg.navbar-light.bg-light {
}
/*
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}
@media (min-width:576px) {
  .menuBar {
    width: 300px
  }
}

.dropdown-item{
  background: white;
}

*/
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: rgb(2,78,5);
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: rgb(2,78,5);
}