.bg-gradient-primary {
  background-color: #fefefe;
  background-image: linear-gradient(180deg,#ffffff 10%,#ffffff);
  background-size: cover;
}

.btn-primary {
  color: #fff;
  background-color: #024e05;
  border-color: #024e05;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #024e05;
  border-color: #024e05;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #024e05;
  border-color: #024e05;
}

.sidebar-dark .nav-item .nav-link.active, .sidebar-dark .nav-item .nav-link.active i, .sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover, .sidebar-dark .nav-item .nav-link:hover i {
  color: #024e05;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
  color: #024e05;
}

.sidebar-dark .nav-item .nav-link {
  color: #024e05;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #024e05;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  color: #024e05;
}

#wrapper #content-wrapper {
  background-color: #ffffff;
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  color: #024e05;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  color: #024e05;
}

.dropdown .dropdown-toggle {
  position: relative;
  font-weight: bold;
}

.navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.btn-link {
  font-weight: 400;
  color: #024e05;
  text-decoration: none;
}

.btn-link:hover {
  color: #024e05;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .dropdown-menu {
    background-color: white;
  }
}


.dropdown-menu{
  min-width:250px
}
@media (min-width: 992px){
  .dropdown-menu .dropdown-toggle:after{
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
  }
  .dropdown-menu .dropdown-menu{
    margin-left:0; margin-right: 0;
  }
  .dropdown-menu li{
    position: relative;
  }
  .nav-item .submenu{
    display: none;
    position: absolute;
    left:100%; top:-7px;
  }
  .nav-item .submenu-left{
    right:100%; left:auto;
  }
  .dropdown-menu > li:hover{ background-color: #f1f1f1 }
  .dropdown-menu > li:hover > .submenu{
    display: block;
  }
}